<div class="card">
    <div class="card-header"><h2>Events</h2></div>
    <div class="card-body">
        <p [ngClass]="{ 'text-danger' : compt == 0 || compt == 9, 'text-success' : compt == 5 }">compteur : {{ compt }}</p>
        <div>
            <button 
            (click)="decrease()"
            [disabled]="compt == 0" 
            class="btn btn-outline-danger mr-3">Decrease</button>
            <button 
            (click)="increase()"
            [disabled]="compt == 9"
            class="btn btn-outline-success">Increase</button>
        </div>
    </div>
</div>
