<div class="card">
    <div class="card-header"><h2>About</h2></div>
    <div class="card-body">
        <dl>
            <dt>Application créee dans le cadre de la formation FrontEnd Developper</dt>
            <dt>Centre de compétences:</dt> 
            <dd>TECHNOBEL</dd>
            <dt>Location:</dt>
            <dd>Nivelles</dd>
            <dt>Cours:</dt>
            <dd>Anugular</dd>
            <dt>Formateurs:</dt>
            <dd>Flavian OVYN, <a href="mailto:flavian.ovyn@bstorm.be">flavian.ovyn@bstorm.be</a></dd>
            <dd>Khun LY, <a href="mailto:khun.ly@bstorm.be">khun.ly@bstorm.be</a></dd>
        </dl>
    </div>
</div>
