<ul class="list-group-flush">
    <li class="list-group-item" routerLinkActive="current-link">
        <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
    </li>
    <li class="list-group-item" routerLinkActive="current-link">
        <a routerLink="/about"><i class="fa fa-star"></i> About</a>
    </li>
    <li class="list-group-item">
        <i class="fa fa-book"></i> Demo
        <ul class="list-group-flush">
            <li class="list-group-item" routerLinkActive="current-link">
                <a routerLink="/demo1">Demo 1 - Binding</a>
            </li>
            <li class="list-group-item" routerLinkActive="current-link">
                <a routerLink="/demo2">Demo2 - Event</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item" routerLinkActive="current-link">
        <a routerLink="/exo1"><i class="fa fa-clock"></i> Exercice 1 - Timer</a>
    </li>
</ul>